.listBox {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(46, 177, 57, 0.055);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
}

@media only screen and (max-width: 56.25em) {
  .listBox {
    width: 100%;
    padding: 0;
  }
}

.sortable {
  cursor: pointer;
}

.sortable-icon {
  font-size: 2rem;
  padding-left: 0.2rem;
  display: inline;
}
