.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.9)
    ),
    url(../../resources/images/squareBackGround.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-cclip-path: polygon(0 0, 100% 0, 100% 75vh, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 75vh);
    height: 90vh;
  }
}
@media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-width: 125em) {
  .header {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.8),
        rgba(40, 180, 133, 0.9)
      ),
      url(../../resources/images/squareBackGround.jpg);
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 75vh);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 75vh);
  }
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 8.5rem;
}
@media only screen and (max-width: 37.5em) {
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  .header__logo {
    height: 4rem;
  }
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* background-color: black; */
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 2.5rem;
  margin-right: -3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    margin-right: -1rem;
    font-family: 5rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.75rem;
  animation: moveInRight 1s;
  text-align: center;
  margin-top: 5%;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}
