.searchIput {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid #fff;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

.searchIput::placeholder {
  color: #fff;
  opacity: 0.4; /* Firefox */
}
